body.dark {
  background: #0d0d0d;
  color: #fff;
  font-family: Arial;
}

.login-box {
  width: 280px;
  margin: 150px auto;
  text-align: center;
}

input {
  width: 100%;
  padding: 12px;
  margin: 6px 0;
  background: #1a1a1a;
  border: none;
  color: #fff;
  border-radius: 6px;
}

button {
  width: 100%;
  padding: 12px;
  background: #00ff9c;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#messages {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
}

.msg {
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
  background: #1e1e1e;
  max-width: 70%;
}

.self {
  background: #00ff9c;
  color: black;
  align-self: flex-end;
}

.input-box {
  display: flex;
}

.input-box input {
  flex: 1;
}

.input-box button {
  width: 100px;
}
